In [69]:
import toml
import pandas as pd

# Load and parse the TOML file
with open('../../misc/campaign_products_map.toml', 'r') as file:
    data = toml.load(file)

# Create a map to store products grouped by categories
product_groups = {}

# Define the category keys based on your TOML structure
category_keys = [
    'seker_sakiz', 'cikolata_biskuvi', 'cips', 'gevrek', 'bebek', 
    'sampuan_dusjeli', 'sabun', 'kisisel_bakim', 'camasir', 'bulasik', 
    'ev_temizligi', 'makarna_pirinc_bakliyat', 'hazirgida_baharat', 
    'sigara', 'pasta', 'peynir_tereyagi', 'dondurulmus', 'yumurta', 
    'salam_sosis_sucuk', 'kahve', 'cay', 'alet', 'sos', 'ekmek', 
    'sivi_yag', 'meyve_sebze', 'maden_suyu', 'icecek', 'kolonya', 
    'konserve_salca', 'pecete', 'mangal', 'poset', 'recel_bal', 
    'porselen', 'dondurma', 'kedi_kopek', 'kuruyemis', 'plastik', 
    'su', 'sut', 'ayran_yogurt', 'pil'
]
optimal_times = {key: 0 for key in category_keys}
# Initialize product groups in the map
for key in category_keys:
    product_groups[key] = []

# Function to add products to respective groups
def add_product_to_group(product_name, barcode_id, group):
    product_groups[group].append({
        'product_name': product_name,
        'barcode_id': barcode_id
    })

# Iterate through each category in the TOML data
for category, products in data.items():
    if category in category_keys:
        if isinstance(products, list):  # Handle groups with single products
            for product in products:
                add_product_to_group(product['product_name'], product['barcode_id'], category)
        elif isinstance(products, dict):  # Handle groups with multiple products
            for product in products:
                add_product_to_group(products[product]['product_name'], products[product]['barcode_id'], category)


user_ids = ['user1', 'user2', 'user3']
for i in range(4, 10000):
    user_ids.append(f'user{i}')

optimal_times
pd.set_option('display.max_columns', None)
# Manually set the optimal times for each category
optimal_times['seker_sakiz'] = 45
optimal_times['cikolata_biskuvi'] = 60
optimal_times['cips'] = 20
optimal_times['gevrek'] = 15
optimal_times['bebek'] = 120
optimal_times['sampuan_dusjeli'] = 37
optimal_times['sabun'] = 24
optimal_times['kisisel_bakim'] = 68
optimal_times['camasir'] = 16
optimal_times['bulasik'] = 19
optimal_times['ev_temizligi'] = 35
optimal_times['makarna_pirinc_bakliyat'] = 35
optimal_times['hazirgida_baharat'] = 76
optimal_times['sigara'] = 44
optimal_times['pasta'] = 45
optimal_times['peynir_tereyagi'] = 45
optimal_times['dondurulmus'] = 45
optimal_times['yumurta'] = 23
optimal_times['salam_sosis_sucuk'] = 21
optimal_times['kahve'] = 25
optimal_times['cay'] = 27
optimal_times['alet'] = 45
optimal_times['sos'] = 45
optimal_times['ekmek'] = 15
optimal_times['sivi_yag'] = 45
optimal_times['meyve_sebze'] = 170
optimal_times['maden_suyu'] = 45
optimal_times['icecek'] = 37
optimal_times['kolonya'] = 45
optimal_times['konserve_salca'] = 45
optimal_times['pecete'] = 21
optimal_times['mangal'] = 200
optimal_times['poset'] = 10
optimal_times['recel_bal'] = 45
optimal_times['porselen'] = 150
optimal_times['dondurma'] = 13
optimal_times['kedi_kopek'] = 45
optimal_times['kuruyemis'] = 45
optimal_times['plastik'] = 45
optimal_times['su'] = 22
optimal_times['sut'] = 27
optimal_times['ayran_yogurt'] = 23
optimal_times['pil'] = 14

In [70]:
# create event
import pandas as pd
import random
from datetime import datetime, timedelta
import random

# Sample data for user interactions with product groups
data = {
    'userId': [],
    'productGroups': [],
    'date': [],
    'time': []
}

# Specify the number of user interactions to generate
num_interactions = 10000

# Specify the number of days for which to generate events


# Initialize a dictionary to store the last event date for each user
last_event_date = {}

# Generate random interactions
for _ in range(num_interactions):
    user_id = f'user{random.randint(1, len(user_ids))}'  # Random user ID

    selected_groups = [random.choice(list(product_groups.keys()))]
    selected_products = [random.choice(product_groups[group]) for group in selected_groups] # todo  single item

    # If the user has a last event date, use the day before that date for the new event
    if (user_id, selected_groups[0]) in last_event_date:
        event_date = last_event_date[(user_id, selected_groups[0])] - timedelta(days=1)
    else:
        # Otherwise, generate a random date within the specified range
        event_date = datetime.now()

    # Update the last event date for the user
    last_event_date[(user_id, selected_groups[0])] = event_date

    # Randomly select product groups and products for the interaction
    # selected_groups = [group for group in product_groups.keys() if random.random() < 0.7]
    # selected_products = [random.choice(product_groups[group]) for group in selected_groups]

    optimal_time = optimal_times[selected_groups[0]]
    if random.random() < 0.8:
        time_seconds = random.randint(int(optimal_time * 0.8), int(optimal_time * 1.2))
    else:
        if optimal_time * 0.9 > 1:
            if random.random() < 0.5:
                time_seconds = random.randint(1, int(optimal_time * 0.8) - 1)
            else:
                time_seconds = random.randint(int(optimal_time * 1.2) + 1, 500)
        else:
            time_seconds = 1
    # Append the generated interaction data to the sample data dictionary
    data['userId'].append(user_id)
    data['productGroups'].append(', '.join(selected_groups))
    data['date'].append(event_date)
    data['time'].append(time_seconds)

# Create a DataFrame from the generated data
df = pd.DataFrame(data)

# Specify the output file path
output_file_path = 'events.xlsx'

# Write the DataFrame to an Excel file
df.to_excel(output_file_path, index=False)

print(f"Updated Excel file created: {output_file_path}")
display(df)

Updated Excel file created: events.xlsx

        userId      productGroups                       date  time
0     user6673  salam_sosis_sucuk 2024-04-22 00:03:47.393490    23
1     user1547    sampuan_dusjeli 2024-04-22 00:03:47.393490    29
2     user4280               alet 2024-04-22 00:03:47.393490    54
3     user2529    sampuan_dusjeli 2024-04-22 00:03:47.393490    30
4     user5648            plastik 2024-04-22 00:03:47.393490    47
...        ...                ...                        ...   ...
9995  user8558            bulasik 2024-04-22 00:03:47.677490    21
9996  user4325             icecek 2024-04-22 00:03:47.677490   440
9997  user3588              poset 2024-04-22 00:03:47.677490   312
9998  user2637         kedi_kopek 2024-04-22 00:03:47.677490    12
9999  user6174              sabun 2024-04-22 00:03:47.677490    25

[10000 rows x 4 columns]

In [71]:
## process the event data
import pandas as pd


# Read and preprocess event data
event_file_path = 'events.xlsx'
event_df = pd.read_excel(event_file_path)

# Convert date columns to datetime if not already
event_df['date'] = pd.to_datetime(event_df['date'])

# Initialize dictionary to store processed event data (aggregate timespent per group per user per day)
event_data = {}
group_names = list(product_groups.keys())
# Process each event row
for _, event_row in event_df.iterrows():
    user_id = event_row['userId']
    date = event_row['date'].date()

  # Skip processing if productGroups is NaN (empty)
    if pd.isna(event_row['productGroups']):
        continue
    product_groups_event = [group.strip() for group in event_row['productGroups'].split(',')]
    time_spent = event_row['time']
    
    # Ensure there's an entry in the event_data dictionary for the current (user_id, date) combination
    user_date_key = (user_id, date)
    if user_date_key not in event_data:
        event_data[user_date_key] = {f'G{i}': 0 for i in range(len(group_names))}
    
    # Update timespent for each group in the event (accumulate timespent per group per day)
    for group in product_groups_event:
        if group in product_groups:
            mapped_group_index = group_names.index(group)
            event_data[user_date_key][f'G{mapped_group_index}'] += time_spent

# Convert event_data dictionary to a list of dictionaries (each representing a (userId, date) entry)
event_processed_data = [{'userId': user_id, 'date': date, **data} for (user_id, date), data in event_data.items()]

# Create dataframe from event_processed_data
event_processed_df = pd.DataFrame(event_processed_data)
event_processed_df['date'] = pd.to_datetime(event_processed_df['date']).dt.date


# Display the processed event dataframe
# print("Processed Event DataFrame:")
display(event_processed_df)

,userId,date,G0,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20,G21,G22,G23,G24,G25,G26,G27,G28,G29,G30,G31,G32,G33,G34,G35,G36,G37,G38,G39,G40,G41,G42
0,user6673,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23,0,0,0,0,0,0,0,0,0,0,0,0,201,0,0,0,0,0,0,0,0,0,0,0
1,user1547,2024-04-22,0,0,0,0,0,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,user4280,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,user2529,2024-04-22,0,0,0,0,0,30,0,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,317,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,user5648,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,328,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6461,user3516,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,0
6462,user5927,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,0,0
6463,user3208,2024-04-22,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6464,user9229,2024-04-21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6465,user4325,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,440,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [72]:
#Generate purhase data using event data
import pandas as pd
from datetime import datetime, timedelta
import random

def create_purchase_list_from_events(event_df, product_groups, output_file_path):
    # Create an empty list to store purchase records
    purchases = []

    # Iterate through each row in the event DataFrame
    for _, row in event_df.iterrows():
        user_id = row['userId']
        purchase_date = row['date']

        # Determine the product groups bought by the user on the purchase date
        bought_groups = [int(group[1:]) for group, time_spent in row.items() if group.startswith('G') and time_spent > 0]

        selected_products = []
        for index in bought_groups:
            group = group_names[index]
            num_products = min(1, len(product_groups[group])) 
            time_spent = row[f'G{index}']

            # Adjust purchase probability based on time spent
            if abs(time_spent- optimal_times[group]) < 0.2 * optimal_times[group]:
                purchase_prob = random.random() < 0.8
            else:
                purchase_prob = random.random() < 0.4

            if not purchase_prob:
                continue

            # Randomly select products from the current group
            products_from_group  = random.sample(product_groups[group], num_products)
            selected_products.extend(products_from_group)
       
        # Join the selected products into a comma-separated string
        product_list = ', '.join([product['product_name'] for product in selected_products])

        # Append purchase record to the list
        purchases.append({'Purchase Date': purchase_date, 'User ID': user_id, 'Product': product_list})

    df = pd.DataFrame(purchases)

    # Write the DataFrame to an Excel file
    df.to_excel(output_file_path, index=False)
    print(f"Purchase list created: {output_file_path}")

output_file_path = 'purchase_list_random.xlsx'
create_purchase_list_from_events(event_processed_df, product_groups, output_file_path)
display(df)

Purchase list created: purchase_list_random.xlsx

        userId      productGroups                       date  time
0     user6673  salam_sosis_sucuk 2024-04-22 00:03:47.393490    23
1     user1547    sampuan_dusjeli 2024-04-22 00:03:47.393490    29
2     user4280               alet 2024-04-22 00:03:47.393490    54
3     user2529    sampuan_dusjeli 2024-04-22 00:03:47.393490    30
4     user5648            plastik 2024-04-22 00:03:47.393490    47
...        ...                ...                        ...   ...
9995  user8558            bulasik 2024-04-22 00:03:47.677490    21
9996  user4325             icecek 2024-04-22 00:03:47.677490   440
9997  user3588              poset 2024-04-22 00:03:47.677490   312
9998  user2637         kedi_kopek 2024-04-22 00:03:47.677490    12
9999  user6174              sabun 2024-04-22 00:03:47.677490    25

[10000 rows x 4 columns]

In [73]:
## merge purchase data with event data
def map_product_to_group(product):
    if not isinstance(product, str):
        return None

    if ',' in product:
        products = [p.strip() for p in product.split(',')]  # Split products by comma and remove extra spaces
    else:
        products = [product.strip()]  # Handle single product

    group_indexes = set()
    for p in products:
        for group_index, (group_name, group_products) in enumerate(product_groups.items()):
            for product_group in group_products:
                if p == product_group.get('product_name'):
                    group_indexes.add(group_index)
                    break
    return group_indexes if group_indexes else None

# Read and preprocess purchase data
purchase_file_path = 'purchase_list_random.xlsx'
purchase_df = pd.read_excel(purchase_file_path)

# Map purchased products to their corresponding product group indexes
purchase_df['Product Group Indexes'] = purchase_df['Product'].apply(map_product_to_group)

# Convert 'Purchase Date' to datetime and ensure the date format matches
purchase_df['Purchase Date'] = pd.to_datetime(purchase_df['Purchase Date']).dt.date

# Aggregate purchases with the same dates and user IDs
def combine_group_indexes(group_indexes):
    combined = set()
    for indexes in group_indexes.dropna():
        combined.update(indexes)
    return combined if combined else None

purchase_df_grouped = purchase_df.groupby(['User ID', 'Purchase Date'])['Product Group Indexes'].agg(combine_group_indexes).reset_index()
purchase_df_grouped = purchase_df_grouped.dropna(subset=['Product Group Indexes'])
event_processed_df['userId'] = event_processed_df['userId'].astype(str)

# Merge event_processed_df with aggregated purchase information based on (User ID, date)
merged_df = pd.merge(event_processed_df, purchase_df_grouped, how='left', left_on=['userId', 'date'], right_on=['User ID', 'Purchase Date'])

# Drop redundant columns after merge
merged_df.drop(['User ID', 'Purchase Date'], axis=1, inplace=True)

# Add Pi columns for each group in product_groups based on the purchase data
for i, group_name in enumerate(product_groups.keys()):
    group_index_column = f'G{i}'
    pi_column = f'P{i}'
    def check_conditions(row, i, group_index_column):
        if isinstance(row['Product Group Indexes'], set):
            if i in row['Product Group Indexes'] and row[group_index_column] > 0:
                return 1
        return 0

    merged_df[pi_column] = merged_df.apply(lambda row: check_conditions(row, i, group_index_column), axis=1)

# merged_df.drop(['Product Group Indexes', 'Product'], axis=1, inplace=True)
# Display the merged dataframe
print("Merged DataFrame:")
display(merged_df.head())

Merged DataFrame:

,userId,date,G0,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20,G21,G22,G23,G24,G25,G26,G27,G28,G29,G30,G31,G32,G33,G34,G35,G36,G37,G38,G39,G40,G41,G42,Product Group Indexes,P0,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,P38,P39,P40,P41,P42
0,user6673,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23,0,0,0,0,0,0,0,0,0,0,0,0,201,0,0,0,0,0,0,0,0,0,0,0,"{18, 31}",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,user1547,2024-04-22,0,0,0,0,0,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,user4280,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,user2529,2024-04-22,0,0,0,0,0,30,0,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,317,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{5},0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,user5648,2024-04-22,0,0,0,0,0,0,0,0,0,0,0,328,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47,0,0,0,0,{38},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.multioutput import MultiOutputClassifier
import pickle

# Assuming 'merged_df' and 'product_groups' are defined appropriately

# Drop unnecessary columns
model_df = merged_df.drop(['userId', 'date', 'Product Group Indexes'], axis=1)

# Define features (X) and target (y)
X = model_df.drop([f'P{i}' for i in range(len(product_groups))], axis=1)  # Drop purchase indicator columns
y = model_df[[f'P{i}' for i in range(len(product_groups))]]  # Keep purchase indicator columns as target

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize a multi-output classifier with RandomForestClassifier
classifier = MultiOutputClassifier(RandomForestClassifier(random_state=42))

# Train the classifier
classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = classifier.predict(X_test)

# Evaluate the classifier
print("Classification Report:")
print(classification_report(y_test, y_pred, zero_division=1))  # zero_division parameter handles undefined metrics

# Save the trained model as a pickle string
saved_model = pickle.dumps(classifier)

# Save the model to disk
with open('model.pkl', 'wb') as file:
    pickle.dump(classifier, file)

Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.62      0.70        37
           1       0.78      0.86      0.82        36
           2       0.71      0.55      0.62        22
           3       0.59      0.74      0.66        27
           4       0.92      0.75      0.83        32
           5       0.78      0.88      0.82        32
           6       0.68      0.70      0.69        33
           7       0.57      0.52      0.54        31
           8       0.63      0.89      0.74        35
           9       0.79      0.83      0.81        36
          10       0.70      0.74      0.72        31
          11       0.77      0.91      0.83        33
          12       0.67      0.85      0.75        26
          13       0.74      0.76      0.75        38
          14       0.70      0.72      0.71        29
          15       0.72      0.74      0.73        31
          16       0.83      0.80      0.81        44
          17       0.65      0.77      0.70        26
          18       0.81      0.81      0.81        31
          19       0.77      0.80      0.79        30
          20       0.77      0.71      0.74        28
          21       0.58      0.78      0.67        18
          22       0.78      0.80      0.79        44
          23       0.74      0.77      0.75        26
          24       0.87      0.74      0.80        35
          25       0.75      0.77      0.76        35
          26       0.76      0.73      0.75        26
          27       0.83      0.78      0.81        32
          28       0.78      0.78      0.78        32
          29       0.77      0.83      0.80        29
          30       0.74      0.77      0.75        26
          31       0.47      0.64      0.55        14
          32       0.82      0.70      0.75        33
          33       0.81      0.77      0.79        39
          34       0.77      0.83      0.80        36
          35       0.75      0.82      0.78        33
          36       0.75      0.51      0.61        35
          37       0.74      0.88      0.81        26
          38       0.84      0.76      0.80        34
          39       0.38      0.42      0.40        19
          40       0.68      0.76      0.72        34
          41       0.65      0.79      0.71        28
          42       0.77      0.80      0.79        30

   micro avg       0.74      0.76      0.75      1332
   macro avg       0.73      0.75      0.74      1332
weighted avg       0.74      0.76      0.75      1332
 samples avg       0.79      0.84      0.71      1332

In [75]:
from sklearn.metrics import confusion_matrix

# Predict on the test set
y_pred = classifier.predict(X_test)

# Print confusion matrix for each output
for i in range(y_test.shape[1]):
    print(f"Output {i+1}:")
    print(confusion_matrix(y_test.iloc[:, i], [pred[i] for pred in y_pred]))
    print()

Output 1:
[[1251    6]
 [  14   23]]

Output 2:
[[1249    9]
 [   5   31]]

Output 3:
[[1267    5]
 [  10   12]]

Output 4:
[[1253   14]
 [   7   20]]

Output 5:
[[1260    2]
 [   8   24]]

Output 6:
[[1254    8]
 [   4   28]]

Output 7:
[[1250   11]
 [  10   23]]

Output 8:
[[1251   12]
 [  15   16]]

Output 9:
[[1241   18]
 [   4   31]]

Output 10:
[[1250    8]
 [   6   30]]

Output 11:
[[1253   10]
 [   8   23]]

Output 12:
[[1252    9]
 [   3   30]]

Output 13:
[[1257   11]
 [   4   22]]

Output 14:
[[1246   10]
 [   9   29]]

Output 15:
[[1256    9]
 [   8   21]]

Output 16:
[[1254    9]
 [   8   23]]

Output 17:
[[1243    7]
 [   9   35]]

Output 18:
[[1257   11]
 [   6   20]]

Output 19:
[[1257    6]
 [   6   25]]

Output 20:
[[1257    7]
 [   6   24]]

Output 21:
[[1260    6]
 [   8   20]]

Output 22:
[[1266   10]
 [   4   14]]

Output 23:
[[1240   10]
 [   9   35]]

Output 24:
[[1261    7]
 [   6   20]]

Output 25:
[[1255    4]
 [   9   26]]

Output 26:
[[1250    9]
 [   8   27]]

Output 27:
[[1262    6]
 [   7   19]]

Output 28:
[[1257    5]
 [   7   25]]

Output 29:
[[1255    7]
 [   7   25]]

Output 30:
[[1258    7]
 [   5   24]]

Output 31:
[[1261    7]
 [   6   20]]

Output 32:
[[1270   10]
 [   5    9]]

Output 33:
[[1256    5]
 [  10   23]]

Output 34:
[[1248    7]
 [   9   30]]

Output 35:
[[1249    9]
 [   6   30]]

Output 36:
[[1252    9]
 [   6   27]]

Output 37:
[[1253    6]
 [  17   18]]

Output 38:
[[1260    8]
 [   3   23]]

Output 39:
[[1255    5]
 [   8   26]]

Output 40:
[[1262   13]
 [  11    8]]

Output 41:
[[1248   12]
 [   8   26]]

Output 42:
[[1254   12]
 [   6   22]]

Output 43:
[[1257    7]
 [   6   24]]

In [81]:
import pickle

# Load the model from disk
with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

data = {f'G{i}': [0] for i in range(len(product_groups.keys()))}

# Create a DataFrame from the dictionary
sample = pd.DataFrame(data)

# Update 'G8' to 190
sample['G1'] = 70

# Load the model from disk
with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Use the loaded model to make predictions
probabilities = loaded_model.predict_proba(sample)


for i, prob in enumerate(probabilities):
    print(f"Probability for class {i}: {prob[0][1]}")

Probability for class 0: 0.0
Probability for class 1: 0.32528571428571423
Probability for class 2: 0.0
Probability for class 3: 0.0
Probability for class 4: 0.0
Probability for class 5: 0.0
Probability for class 6: 0.0
Probability for class 7: 0.0
Probability for class 8: 0.0
Probability for class 9: 0.0
Probability for class 10: 0.0
Probability for class 11: 0.0
Probability for class 12: 0.0
Probability for class 13: 0.0
Probability for class 14: 0.0
Probability for class 15: 0.0
Probability for class 16: 0.0
Probability for class 17: 0.0
Probability for class 18: 0.0
Probability for class 19: 0.0
Probability for class 20: 0.0
Probability for class 21: 0.0
Probability for class 22: 0.0
Probability for class 23: 0.0
Probability for class 24: 0.0
Probability for class 25: 0.0
Probability for class 26: 0.0
Probability for class 27: 0.0
Probability for class 28: 0.0
Probability for class 29: 0.0
Probability for class 30: 0.0
Probability for class 31: 0.0
Probability for class 32: 0.0
Probability for class 33: 0.0
Probability for class 34: 0.0
Probability for class 35: 0.0
Probability for class 36: 0.0
Probability for class 37: 0.0
Probability for class 38: 0.0
Probability for class 39: 0.0
Probability for class 40: 0.0
Probability for class 41: 0.0
Probability for class 42: 0.0