In [24]:
import toml

# Load and parse the TOML file
with open('../../misc/campaign_products_map.toml', 'r') as file:
    data = toml.load(file)

# Create a map to store products grouped by categories
product_groups = {}

# Define the category keys based on your TOML structure
category_keys = [
    'seker_sakiz', 'cikolata_biskuvi', 'cips', 'gevrek', 'bebek', 
    'sampuan_dusjeli', 'sabun', 'kisisel_bakim', 'camasir', 'bulasik', 
    'ev_temizligi', 'makarna_pirinc_bakliyat', 'hazirgida_baharat', 
    'sigara', 'pasta', 'peynir_tereyagi', 'dondurulmus', 'yumurta', 
    'salam_sosis_sucuk', 'kahve', 'cay', 'alet', 'sos', 'ekmek', 
    'sivi_yag', 'meyve_sebze', 'maden_suyu', 'icecek', 'kolonya', 
    'konserve_salca', 'pecete', 'mangal', 'poset', 'recel_bal', 
    'porselen', 'dondurma', 'kedi_kopek', 'kuruyemis', 'plastik', 
    'su', 'sut', 'ayran_yogurt', 'pil'
]

# Initialize product groups in the map
for key in category_keys:
    product_groups[key] = []

# Function to add products to respective groups
def add_product_to_group(product_name, barcode_id, group):
    product_groups[group].append({
        'product_name': product_name,
        'barcode_id': barcode_id
    })

# Iterate through each category in the TOML data
for category, products in data.items():
    if category in category_keys:
        if isinstance(products, list):  # Handle groups with single products
            for product in products:
                add_product_to_group(product['product_name'], product['barcode_id'], category)
        elif isinstance(products, dict):  # Handle groups with multiple products
            for product in products:
                add_product_to_group(products[product]['product_name'], products[product]['barcode_id'], category)

# Now product_groups contains the map of products grouped by categories
# Access individual groups as needed, e.g., product_groups['sut'], product_groups['seker_sakiz'], etc.

# Print the map for demonstration
# print("product_groups = {")
# for category, products in product_groups.items():
#     if products:
#         # Prepare the formatted string for products in the current category
#         products_str = ", ".join([f"'{product}'" for product in products])
#         print(f"    '{category}': [{products_str}],")
# print("}")

In [25]:
## read from DB
import pandas as pd
from sqlalchemy import create_engine
pd.set_option('display.max_columns', None)

# Create a connection to the PostgreSQL database
engine = create_engine('postgresql://postgres:password@localhost:5432/lokate_dev')
# POSTGRES_URL="postgres://postgres:password@0.0.0.0:5432/lokate_dev"

# Read unique customer_ids from the customers table
user_ids = []
query = "SELECT DISTINCT customer_id FROM customers"
customer_df = pd.read_sql(query, engine)
user_ids.extend(customer_df['customer_id'].tolist())


# Read and preprocess event data
query = "SELECT * FROM events"
event_df = pd.read_sql(query, engine)
# display(event_df.head(3))

event_df['enter_timestamp'] = pd.to_datetime(event_df['enter_timestamp'])
event_df['possible_exit_timestamp'] = pd.to_datetime(event_df['possible_exit_timestamp'])

# Calculate time in seconds
event_df['time'] = (event_df['possible_exit_timestamp'] - event_df['enter_timestamp']).dt.total_seconds().astype(int)

# Extract date from possible_exit_timestamp
event_df['date'] = event_df['possible_exit_timestamp'].dt.date


# Fetch product groups data
query_product_groups = "SELECT id as group_id, group_name FROM product_groups"
product_groups_df = pd.read_sql(query_product_groups, engine)

# Read product_groups_to_campaigns data
query_product_groups_to_campaigns = "SELECT * FROM product_groups_to_campaigns"
product_groups_to_campaigns_df = pd.read_sql(query_product_groups_to_campaigns, engine)

# Merge product_groups_to_campaigns data into productGroups dataframe based on product_group_id
product_groups_to_campaigns_df = pd.merge(product_groups_df, product_groups_to_campaigns_df, left_on='group_id', right_on='product_group_id', how='right')
# Group product_groups_df by campaign_id and join groupNames with a comma
product_groups_to_campaigns_df['productGroups'] = product_groups_to_campaigns_df.groupby('campaign_id')['group_name'].transform(lambda x: ', '.join(x))

# Drop duplicates
product_groups_to_campaigns_df = product_groups_to_campaigns_df.drop_duplicates(subset='campaign_id')
product_groups_to_campaigns_df = product_groups_to_campaigns_df[['campaign_id', 'productGroups']]

# Merge productGroups data into events dataframe based on campaign_id
event_df = pd.merge(event_df, product_groups_to_campaigns_df, left_on='campaign_id', right_on='campaign_id', how='left')


# Rename columns
event_df = event_df.rename(columns={'customer_id': 'userId'})

# Select only required columns
event_df = event_df[['userId', 'productGroups', 'date', 'time']]
event_df = event_df.dropna(subset=['productGroups'])

# Display the transformed DataFrame
display(event_df)

                                   userId      productGroups        date  time
2    edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-19    35
3    edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-19    43
6    edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-19    45
7    edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-19    35
8    edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-19    59
..                                    ...                ...         ...   ...
605  edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-13    14
606  edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-13    35
607  edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-13    57
608  edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-13    49
609  edb3f927-5619-4918-b634-f4c5da543460  seker_sakiz, cips  2024-04-13    28

[302 rows x 4 columns]

In [42]:
## process the event data
import pandas as pd


# # Convert date columns to datetime if not already
event_df['date'] = pd.to_datetime(event_df['date'])

# Initialize dictionary to store processed event data (aggregate timespent per group per user per day)
event_data = {}
group_names = list(product_groups.keys())
# Process each event row
for _, event_row in event_df.iterrows():
    user_id = event_row['userId']
    date = event_row['date'].date()

  # Skip processing if productGroups is NaN (empty)
    if pd.isna(event_row['productGroups']):
        continue
    product_groups_event = [group.strip() for group in event_row['productGroups'].split(',')]
    time_spent = event_row['time']
    
    # Ensure there's an entry in the event_data dictionary for the current (user_id, date) combination
    user_date_key = (user_id, date)
    if user_date_key not in event_data:
        event_data[user_date_key] = {f'G{i}': 0 for i in range(len(group_names))}
    
    # Update timespent for each group in the event (accumulate timespent per group per day)
    for group in product_groups_event:
        if group in product_groups:
            mapped_group_index = group_names.index(group)
            event_data[user_date_key][f'G{mapped_group_index}'] += time_spent

# Convert event_data dictionary to a list of dictionaries (each representing a (userId, date) entry)
event_processed_data = [{'userId': user_id, 'date': date, **data} for (user_id, date), data in event_data.items()]

# Create dataframe from event_processed_data
event_processed_df = pd.DataFrame(event_processed_data)
event_processed_df['date'] = pd.to_datetime(event_processed_df['date']).dt.date


# Display the processed event dataframe
display(event_processed_df)

,userId,date,G0,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20,G21,G22,G23,G24,G25,G26,G27,G28,G29,G30,G31,G32,G33,G34,G35,G36,G37,G38,G39,G40,G41,G42
0,edb3f927-5619-4918-b634-f4c5da543460,2024-04-19,253,0,253,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,edb3f927-5619-4918-b634-f4c5da543460,2024-04-18,1575,0,1575,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,edb3f927-5619-4918-b634-f4c5da543460,2024-04-17,1893,0,1893,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,edb3f927-5619-4918-b634-f4c5da543460,2024-04-16,1766,0,1766,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,edb3f927-5619-4918-b634-f4c5da543460,2024-04-15,1908,0,1908,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,edb3f927-5619-4918-b634-f4c5da543460,2024-04-14,1745,0,1745,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,edb3f927-5619-4918-b634-f4c5da543460,2024-04-13,1516,0,1516,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [43]:
#Generate purhase data using event data
import pandas as pd
from datetime import datetime, timedelta
import random

def create_purchase_list_from_events(event_df, product_groups, output_file_path):
    # Create an empty list to store purchase records
    purchases = []

    # Iterate through each row in the event DataFrame
    for _, row in event_df.iterrows():
        user_id = row['userId']
        purchase_date = row['date']

        # Determine the product groups bought by the user on the purchase date
        bought_groups = [int(group[1:]) for group, time_spent in row.items() if group.startswith('G') and time_spent > 0]

        selected_products = []
        for index in bought_groups:
            group = group_names[index]
            num_products = min(1, len(product_groups[group])) 
            time_spent = row[f'G{index}']

            # Adjust purchase probability based on time spent
            if time_spent > 100:
                purchase_prob = random.random() < 0.8
            else:
                purchase_prob = random.random() < 0.4

            if not purchase_prob:
                continue

            # Randomly select products from the current group
            products_from_group  = random.sample(product_groups[group], num_products)
            selected_products.extend(products_from_group)
       
        # Join the selected products into a comma-separated string
        product_list = ', '.join([product['product_name'] for product in selected_products])

        # Append purchase record to the list
        purchases.append({'Purchase Date': purchase_date, 'User ID': user_id, 'Product': product_list})

    df = pd.DataFrame(purchases)

    # Write the DataFrame to an Excel file
    df.to_excel(output_file_path, index=False)
    print(f"Purchase list created: {output_file_path}")
    display(df)
output_file_path = 'purchase_list_random.xlsx'
create_purchase_list_from_events(event_processed_df, product_groups, output_file_path)

Purchase list created: purchase_list_random.xlsx

,Purchase Date,User ID,Product
0,2024-04-19,edb3f927-5619-4918-b634-f4c5da543460,"KENT ï¿½EKER 1 KG-POï¿½ET, CHEETOS SWEETOS Cï¿..."
1,2024-04-18,edb3f927-5619-4918-b634-f4c5da543460,"FALIM SAKIZ 5 LI KARISIK MEYVE, ï¿½EREZZA TV 7..."
2,2024-04-17,edb3f927-5619-4918-b634-f4c5da543460,"HARIBO PHANTASIA 80GR, ï¿½EREZZA BAHARATLI MIS..."
3,2024-04-16,edb3f927-5619-4918-b634-f4c5da543460,"FIRST SENSATION SAKIZ 27 GR YESIL NANE, ï¿½ERE..."
4,2024-04-15,edb3f927-5619-4918-b634-f4c5da543460,"HARIBO YUMUSAK SEKER 100GR ALTIN AYICIK, ï¿½ER..."
5,2024-04-14,edb3f927-5619-4918-b634-f4c5da543460,ï¿½EREZZA TV 55 GR -1 TL
6,2024-04-13,edb3f927-5619-4918-b634-f4c5da543460,HARIBO FIZZ SOLUCAN

In [44]:
## merge purchase data with event data
def map_product_to_group(product):
    if not isinstance(product, str):
        return None

    if ',' in product:
        products = [p.strip() for p in product.split(',')]  # Split products by comma and remove extra spaces
    else:
        products = [product.strip()]  # Handle single product

    group_indexes = set()
    for p in products:
        for group_index, (group_name, group_products) in enumerate(product_groups.items()):
            for product_group in group_products:
                if p == product_group.get('product_name'):
                    group_indexes.add(group_index)
                    break
    return group_indexes if group_indexes else None

# Read and preprocess purchase data
purchase_file_path = 'purchase_list_random.xlsx'
purchase_df = pd.read_excel(purchase_file_path)

# Map purchased products to their corresponding product group indexes
purchase_df['Product Group Indexes'] = purchase_df['Product'].apply(map_product_to_group)

# Convert 'Purchase Date' to datetime and ensure the date format matches
purchase_df['Purchase Date'] = pd.to_datetime(purchase_df['Purchase Date']).dt.date

# Aggregate purchases with the same dates and user IDs
def combine_group_indexes(group_indexes):
    combined = set()
    for indexes in group_indexes.dropna():
        combined.update(indexes)
    return combined if combined else None

purchase_df_grouped = purchase_df.groupby(['User ID', 'Purchase Date'])['Product Group Indexes'].agg(combine_group_indexes).reset_index()
purchase_df_grouped = purchase_df_grouped.dropna(subset=['Product Group Indexes'])

event_processed_df['userId'] = event_processed_df['userId'].astype(str)



# display(purchase_df_grouped)
# display(event_processed_df)


# Merge event_processed_df with aggregated purchase information based on (User ID, date)
merged_df = pd.merge(event_processed_df, purchase_df_grouped, how='left', left_on=['userId', 'date'], right_on=['User ID', 'Purchase Date'])
# display(merged_df.head(3))

# Drop redundant columns after merge
merged_df.drop(['User ID', 'Purchase Date'], axis=1, inplace=True)

# Add Pi columns for each group in product_groups based on the purchase data
for i, group_name in enumerate(product_groups.keys()):
    group_index_column = f'G{i}'
    pi_column = f'P{i}'
    def check_conditions(row, i, group_index_column):
        if isinstance(row['Product Group Indexes'], set):
            if i in row['Product Group Indexes'] and row[group_index_column] > 0:
                return 1
        return 0

    merged_df[pi_column] = merged_df.apply(lambda row: check_conditions(row, i, group_index_column), axis=1)

# merged_df.drop(['Product Group Indexes', 'Product'], axis=1, inplace=True)
# Display the merged dataframe
print("Merged DataFrame:")
display(merged_df)

Merged DataFrame:

,userId,date,G0,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20,G21,G22,G23,G24,G25,G26,G27,G28,G29,G30,G31,G32,G33,G34,G35,G36,G37,G38,G39,G40,G41,G42,Product Group Indexes,P0,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,P38,P39,P40,P41,P42
0,edb3f927-5619-4918-b634-f4c5da543460,2024-04-19,253,0,253,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"{0, 2}",1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,edb3f927-5619-4918-b634-f4c5da543460,2024-04-18,1575,0,1575,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"{0, 2}",1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,edb3f927-5619-4918-b634-f4c5da543460,2024-04-17,1893,0,1893,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"{0, 2}",1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,edb3f927-5619-4918-b634-f4c5da543460,2024-04-16,1766,0,1766,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"{0, 2}",1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,edb3f927-5619-4918-b634-f4c5da543460,2024-04-15,1908,0,1908,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"{0, 2}",1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,edb3f927-5619-4918-b634-f4c5da543460,2024-04-14,1745,0,1745,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{2},0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,edb3f927-5619-4918-b634-f4c5da543460,2024-04-13,1516,0,1516,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{0},1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.multioutput import MultiOutputClassifier
import pickle

# Assuming 'merged_df' and 'product_groups' are defined appropriately

# Drop unnecessary columns
model_df = merged_df.drop(['userId', 'date', 'Product Group Indexes'], axis=1)

# Define features (X) and target (y)
X = model_df.drop([f'P{i}' for i in range(len(product_groups))], axis=1)  # Drop purchase indicator columns
y = model_df[[f'P{i}' for i in range(len(product_groups))]]  # Keep purchase indicator columns as target

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize a multi-output classifier with RandomForestClassifier
classifier = MultiOutputClassifier(RandomForestClassifier(random_state=42))

# Train the classifier
classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = classifier.predict(X_test)

# Evaluate the classifier
print("Classification Report:")
print(classification_report(y_test, y_pred, zero_division=1))  # zero_division parameter handles undefined metrics

# Save the trained model as a pickle string
saved_model = pickle.dumps(classifier)

# Save the model to disk
with open('model.pkl', 'wb') as file:
    pickle.dump(classifier, file)

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      1.00      1.00         0
           2       1.00      0.50      0.67         2
           3       1.00      1.00      1.00         0
           4       1.00      1.00      1.00         0
           5       1.00      1.00      1.00         0
           6       1.00      1.00      1.00         0
           7       1.00      1.00      1.00         0
           8       1.00      1.00      1.00         0
           9       1.00      1.00      1.00         0
          10       1.00      1.00      1.00         0
          11       1.00      1.00      1.00         0
          12       1.00      1.00      1.00         0
          13       1.00      1.00      1.00         0
          14       1.00      1.00      1.00         0
          15       1.00      1.00      1.00         0
          16       1.00      1.00      1.00         0
          17       1.00      1.00      1.00         0
          18       1.00      1.00      1.00         0
          19       1.00      1.00      1.00         0
          20       1.00      1.00      1.00         0
          21       1.00      1.00      1.00         0
          22       1.00      1.00      1.00         0
          23       1.00      1.00      1.00         0
          24       1.00      1.00      1.00         0
          25       1.00      1.00      1.00         0
          26       1.00      1.00      1.00         0
          27       1.00      1.00      1.00         0
          28       1.00      1.00      1.00         0
          29       1.00      1.00      1.00         0
          30       1.00      1.00      1.00         0
          31       1.00      1.00      1.00         0
          32       1.00      1.00      1.00         0
          33       1.00      1.00      1.00         0
          34       1.00      1.00      1.00         0
          35       1.00      1.00      1.00         0
          36       1.00      1.00      1.00         0
          37       1.00      1.00      1.00         0
          38       1.00      1.00      1.00         0
          39       1.00      1.00      1.00         0
          40       1.00      1.00      1.00         0
          41       1.00      1.00      1.00         0
          42       1.00      1.00      1.00         0

   micro avg       1.00      0.75      0.86         4
   macro avg       1.00      0.99      0.99         4
weighted avg       1.00      0.75      0.83         4
 samples avg       1.00      0.75      0.83         4

In [46]:
from sklearn.metrics import confusion_matrix

# Predict on the test set
y_pred = classifier.predict(X_test)

# Print confusion matrix for each output
for i in range(y_test.shape[1]):
    print(f"Output {i+1}:")
    print(confusion_matrix(y_test.iloc[:, i], [pred[i] for pred in y_pred]))
    print()

Output 1:
[[2]]

Output 2:
[[2]]

Output 3:
[[0 0]
 [2 0]]

Output 4:
[[2]]

Output 5:
[[2]]

Output 6:
[[2]]

Output 7:
[[2]]

Output 8:
[[2]]

Output 9:
[[2]]

Output 10:
[[2]]

Output 11:
[[2]]

Output 12:
[[2]]

Output 13:
[[2]]

Output 14:
[[2]]

Output 15:
[[2]]

Output 16:
[[2]]

Output 17:
[[2]]

Output 18:
[[2]]

Output 19:
[[2]]

Output 20:
[[2]]

Output 21:
[[2]]

Output 22:
[[2]]

Output 23:
[[2]]

Output 24:
[[2]]

Output 25:
[[2]]

Output 26:
[[2]]

Output 27:
[[2]]

Output 28:
[[2]]

Output 29:
[[2]]

Output 30:
[[2]]

Output 31:
[[2]]

Output 32:
[[2]]

Output 33:
[[2]]

Output 34:
[[2]]

Output 35:
[[2]]

Output 36:
[[2]]

Output 37:
[[2]]

Output 38:
[[2]]

Output 39:
[[2]]

Output 40:
[[2]]

Output 41:
[[2]]

Output 42:
[[2]]

Output 43:
[[2]]

In [ ]:
import pickle

# Load the model from disk
with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

data = {f'G{i}': [0] for i in range(len(category_keys))}

# Create a DataFrame from the dictionary
sample = pd.DataFrame(data)

# Update 'G8' to 190
sample['G1'] = 250

# Load the model from disk
with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Use the loaded model to make predictions
probabilities = loaded_model.predict_proba(sample)


for i, prob in enumerate(probabilities):
    print(f"Probability for class {i}: {prob[0][1]}")

Probability for class 0: 0.0
Probability for class 1: 0.9
Probability for class 2: 0.0
Probability for class 3: 0.0
Probability for class 4: 0.0
Probability for class 5: 0.0
Probability for class 6: 0.0
Probability for class 7: 0.0
Probability for class 8: 0.0
Probability for class 9: 0.0
Probability for class 10: 0.0
Probability for class 11: 0.0
Probability for class 12: 0.0
Probability for class 13: 0.0
Probability for class 14: 0.0
Probability for class 15: 0.0
Probability for class 16: 0.0
Probability for class 17: 0.0
Probability for class 18: 0.0
Probability for class 19: 0.0
Probability for class 20: 0.0
Probability for class 21: 0.0
Probability for class 22: 0.0
Probability for class 23: 0.0
Probability for class 24: 0.0
Probability for class 25: 0.0
Probability for class 26: 0.0
Probability for class 27: 0.0
Probability for class 28: 0.0
Probability for class 29: 0.0
Probability for class 30: 0.0
Probability for class 31: 0.0
Probability for class 32: 0.0
Probability for class 33: 0.0
Probability for class 34: 0.0
Probability for class 35: 0.0
Probability for class 36: 0.0
Probability for class 37: 0.0
Probability for class 38: 0.0
Probability for class 39: 0.0
Probability for class 40: 0.0
Probability for class 41: 0.0
Probability for class 42: 0.0
Probability for class 43: 0.0
Probability for class 44: 0.0
Probability for class 45: 0.0
Probability for class 46: 0.0